__pycache__
.venv
src/vision/cv/classification-task
src/vision/cv/data-cut
src/vision/cv/hasy-data
src/vision/cv/verification-task
src/vision/cv/HASYv2.tar.bz2
src/vision/cv/hasy_tools.py
src/vision/cv/hasy-data-labels.csv
src/vision/cv/README.txt
src/vision/cv/symbols.csv
src/magic_game.egg-info